body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.none {
    display: none;
}

.footer {
    position: fixed;
    bottom: 45px;
    z-index: 100;

    width: 100%;
    text-align: center;
}

.easyARCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

#scanLine {
    position: absolute;
    z-index: 10;
    margin-top: 20vh;
    text-align: center;
    animation: scan 3s infinite linear;
    -webkit-animation: scan 3s infinite linear;
}

#scanLine > img {
    width: 80%;
}

@keyframes scan {
    0% {
        margin-top: 20vh;
    }
    100% {
        margin-top: 80vh;
    }
}

#loadingWrap {
    position: absolute;
    z-index: 10;
    margin-top: 20vh;
    text-align: center;
}

#loadingWrap .loading-line {
    margin-bottom: -3.2vh;
    width: 80%;
    height: 0.5vh;
}

#loadingWrap .loading-percent {
    margin-top: 3vh;
    color: #00FF00;
}

.loading-ani {
    width: 1vh;
    height: 5vh;
    background: #f39800;
    display: inline-block;
    margin: 0 3px;
    animation: loading-ani linear 1s infinite;
    -webkit-animation: loading-ani linear 1s infinite;
}

.loading-ani:nth-child(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.loading-ani:nth-child(2) {
    animation-delay: -0.15s;
    -webkit-animation-delay: -0.15s;
}

.loading-ani:nth-child(3) {
    animation-delay: -0.3s;
    -webkit-animation-delay: -0.3s;
}

.loading-ani:nth-child(4) {
    animation-delay: -0.45s;
    -webkit-animation-delay: -0.45s;
}

.loading-ani:nth-child(5) {
    animation-delay: -0.6s;
    -webkit-animation-delay: -0.6s;
}

@keyframes loading-ani {
    0%, 60%, 100% {
        transform: scale(1);
    }
    30% {
        transform: scaleY(3);
    }
}

@-webkit-keyframes loading-ani {
    0%, 60%, 100% {
        transform: scale(1);
    }
    30% {
        transform: scaleY(3);
    }
}
